// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

/*
 * GLOBAL
 */
main
  .container
    margin 0 15px


header
  margin 0
  background-color $primary


/*
 * Components
 */

// Toolbar
.q-toolbar
  > .q-btn
    margin-right 1.2rem
