// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

/*
 * GLOBAL
 */

// Layout
main
  .container
    margin 0 15px


header
  margin 0
  background-color $primary

// Texts
h4
  color $tertiary

.bg-darken
  background-color $darkbackground

/*
 * COMPONENTS
 */

// Layout
.layout-page-container
  background $background
.layout-header
  box-shadow none
  .q-toolbar
    background $light
    color $dark
    border-bottom 1px solid $grey-5
    > .q-btn
      margin-right 1.2rem
.layout-aside-left
  &.fixed
    &.on-layout
      box-shadow none
  .q-list
    .q-list-header
      line-height 25px
      background-color $primary
      display flex
      justify-content flex-start
      align-items center
      color $white
    .q-item
      .q-item-section
        color: $white
        .q-item-sublabel
          color: $grey-5
    .q-item.active,
    .q-item.router-link-active,
    .q-item:focus,
    .q-item:hover
      background-color $background
      border-left 6px solid $secondary
      transition all .2s ease-out
      .q-item-section
        color: $grey-10
        .q-item-sublabel
          color: $grey-8
    .q-collapsible
      .q-collapsible-sub-item
        padding 0 0 16px 6px
        .q-item.router-link-active,
        .q-item:focus,
        .q-item:hover
          border none

// TAB
.q-tabs
  .q-tabs-head
    padding 0!important
    background $light
    border-top 1px solid #e0e0e0
    border-left 1px solid #e0e0e0
    border-right 1px solid #e0e0e0
    .q-tab
      &.active
        color $white
        background-color $primary-darken
    .q-tabs-scroller
      color #000

// BTN
.q-btn
  box-shadow none
  transition .3s box-shadow ease-in-out
  &:hover
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);

/*
 * SPECIFIC
 */

.bg-facebook
  background-color $facebook
.bg-twitter
  background-color $twitter
.bg-github
  background-color $github
.bg-google
  background-color $google
