// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

/*
 * GLOBAL
 */

// Layout
main
  .container
    margin 0 15px


header
  margin 0
  background-color $primary

// Texts
h4
  color $tertiary


/*
 * COMPONENTS
 */

// Toolbar
.q-toolbar
  > .q-btn
    margin-right 1.2rem

.q-tabs-head
  padding 0!important
  .q-tab
    &.active
      background-color $primary-darken




/*
 * SPECIFIC
 */

.bg-facebook
  background-color $facebook
.bg-twitter
  background-color $twitter
.bg-github
  background-color $github
.bg-google
  background-color $google
